<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Cic.OpenOne.Common.Properties.Config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <Cic.OpenOne.Common.Properties.Config configSource="Cic.OpenOne.Common.dll.settings.config"></Cic.OpenOne.Common.Properties.Config>
  </applicationSettings>
  <connectionStrings>
    <add name="PrismaEntities" connectionString="metadata=res://*/Model.Prisma.Prisma.csdl|res://*/Model.Prisma.Prisma.ssdl|res://*/Model.Prisma.Prisma.msl;provider=Devart.Data.Oracle;provider connection string=&quot;User Id=CIC;Password=71F10AAF981E449B;Server=CICDBS20;Direct=True;Sid=BNOWDEV;Persist Security Info=True&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_CASKernel">
          <security mode="Transport">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://bnr11dev.cic.muc/BAS/CASKernel.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_CASKernel" contract="CASKernel.CASKernel" name="WSHttpBinding_CASKernel">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
</configuration>
