<?xml version="1.0" encoding="utf-8" ?>
<Cic.OpenOne.Common.Properties.Config>
  <setting name="SoapLoggingEnabled" serializeAs="String">
    <value>True</value>
  </setting>
  <setting name="SoapLoggingEnabledAuskunft" serializeAs="String">
    <value>False</value>
  </setting>
  <setting name="OpenLeaseConnectionStringDirect" serializeAs="String">
    <value>True</value>
  </setting>
  <setting name="OpenLeaseConnectionStringServerName" serializeAs="String">
    <value>CICDBS14</value>
  </setting>
  <setting name="OpenLeaseConnectionStringServerPort" serializeAs="String">
    <value>1521</value>
  </setting>
  <setting name="OpenLeaseConnectionStringUserId" serializeAs="String">
    <value>cic</value>
  </setting>
  <setting name="OpenLeaseConnectionStringPassword" serializeAs="String">
    <value>SKYE</value>
  </setting>
  <setting name="OpenLeaseConnectionStringPlainPassword" serializeAs="String">
    <value>False</value>
  </setting>
  <setting name="DatasourceProviderName" serializeAs="String">
    <value>Devart.Data.Oracle</value>
  </setting>
  <setting name="OpenLeaseConnectionStringDataSource" serializeAs="String">
    <value>OFF</value>
  </setting>
  <setting name="OpenLeaseConnectionStringSID" serializeAs="String">
    <value>OFF</value>
  </setting>
  <setting name="PreSharedKeyType" serializeAs="String">
    <value>MA</value>
  </setting>
  <setting name="PreSharedKeyPath" serializeAs="String">
    <value>INTEROP/LOGINKONTEXT/PSK</value>
  </setting>
  <setting name="DBConnectionTimeout" serializeAs="String">
    <value>30</value>
  </setting>
  <setting name="CacheLifetime" serializeAs="String">
    <value>300000</value>
  </setting>
  <setting name="DBValidateConnection" serializeAs="String">
    <value>false</value>
  </setting>
  <setting name="DBMinPoolSize" serializeAs="String">
    <value>10</value>
  </setting>
  <setting name="DBMaxPoolSize" serializeAs="String">
    <value>100</value>
  </setting>
  <setting name="DBStatementCacheSize" serializeAs="String">
    <value>5</value>
  </setting>
  <setting name="OpenLeaseConnectionStringOraClientHome" serializeAs="String">
    <value>OraClient11g_home1_32bit</value>
  </setting>
  <setting name="DynamicPassword" serializeAs="String">
    <value>False</value>
  </setting>
  <setting name="CicPasswordServiceAddress" serializeAs="String">
    <value>https://ciclicense/services/GetPassword.svc</value>
  </setting>
  <setting name="AppId" serializeAs="String">
    <value>CICONE</value>
  </setting>
  <setting name="SAML" serializeAs="String">
    <value>true</value>
  </setting>
  <setting name="LogLoggedInUser" serializeAs="String">
    <value>True</value>
  </setting>
</Cic.OpenOne.Common.Properties.Config>