<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="Cic.OpenOne.GateBANKNOW.Service.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
			<section name="Cic.OpenOne.Common.Properties.Config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
			<section name="Cic.OpenOne.GateBANKNOW.Common.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>

	<applicationSettings> 

		<Cic.OpenOne.Common.Properties.Config> 

			<!-- Wenn True, wird das DB-User-Passwort vom CIC Password-Server geholt. -->
			<setting name="DynamicPassword" serializeAs="String">
				<value>False</value>
			</setting>
			<!-- CIC Password Server adresse. -->
			<setting name="CicPasswordServiceAddress" serializeAs="String">
				<value>http://olse02-cas.cic.muc/CASKernel/CASInfrastructure.svc</value>
			</setting>
			<!-- CIC Password Server Application Id für diese Anwendung. -->
			<setting name="AppId" serializeAs="String">
				<value>CICONE</value> 
			</setting>


			<setting name="OpenLeaseConnectionStringDirect" serializeAs="String">
				<value>True</value>
			</setting> 
			<setting name="OpenLeaseConnectionStringServerName" serializeAs="String">
				<value>CICDBS24</value>
			</setting>
			<setting name="OpenLeaseConnectionStringServerPort" serializeAs="String">
				<value>1521</value>
			</setting>
			<setting name="OpenLeaseConnectionStringSID" serializeAs="String">
				<value>BNR9DEV</value>        
			</setting> 


			<setting name="OpenLeaseConnectionStringUserId" serializeAs="String">
				<value>CIC</value>
			</setting>
			<setting name="OpenLeaseConnectionStringPassword" serializeAs="String">
				<value>SKYE</value>
			</setting>
			<setting name="OpenLeaseConnectionStringPlainPassword" serializeAs="String">
				<value>False</value>
			</setting>

			<setting name="DatasourceProviderName" serializeAs="String">
				<value>Devart.Data.Oracle</value>
			</setting>
			<setting name="DBConnectionTimeout" serializeAs="String">
				<value>30</value>
			</setting>
			<setting name="DBValidateConnection" serializeAs="String">
				<value>false</value>
			</setting>
			<setting name="DBMinPoolSize" serializeAs="String">
				<value>10</value>
			</setting>
			<setting name="DBMaxPoolSize" serializeAs="String">
				<value>100</value>
			</setting>
			<setting name="DBStatementCacheSize" serializeAs="String">
				<value>5</value>
			</setting>
			<setting name="PreSharedKeyType" serializeAs="String">
				<value>B2B</value>
			</setting>
			<setting name="PreSharedKeyPath" serializeAs="String">
				<value>INTEROP/LOGINKONTEXT/PSKB2B</value>
			</setting>
			<setting name="SoapLoggingEnabled" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="SoapLoggingEnabledAuskunft" serializeAs="String">
				<value>True</value>
			</setting>

		</Cic.OpenOne.Common.Properties.Config>

		<Cic.OpenOne.GateBANKNOW.Common.Settings>
			<setting name="NotificationGatewaySmtpServer" serializeAs="String">
				<value>172.16.126.15</value>
			</setting>
			<setting name="NotificationGatewaySmtpFaxConnector" serializeAs="String">
				<value>cicgroup.eu</value>
			</setting>
			<setting name="NotificationGatewaySmtpSmsConnector" serializeAs="String">
				<value>cicgroup.eu</value>
			</setting>
			<setting name="SQLRetryCount" serializeAs="String">
				<value>1</value>
			</setting>

		</Cic.OpenOne.GateBANKNOW.Common.Settings>

	</applicationSettings>

	<system.web>
		<compilation debug="true" defaultLanguage="c#" targetFramework="4.0" />
		<customErrors mode="Off" />
	</system.web>

	<!--
  Anleitung zur aktivierung von SSL (funktioniert nur auf IIS mit SSL Zertifikat, nicht am Entwicklungsrechner!)
  * in wsHttpBinding security-block aktivieren
  * in serviceMetaData httpsGetEnabled="true" setzen
  * die Endpoints mit mexHttpsBinding aktivieren
  Wenn nur einer der Punkte aktiv ist ohne dass der Server SSL unterstützt wird eine Fehlermeldung im Browser beim Aufruf der svc-Seite generiert!
  -->
	<system.serviceModel>

		<bindings>

			<wsHttpBinding>

				<binding name="myWsHttpsBinding" maxReceivedMessageSize="2147483647" >
					<security mode="Transport">
						<transport clientCredentialType="None" />
					</security>
					<readerQuotas  maxDepth="73400320" maxArrayLength="2147483647" maxStringContentLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
				</binding>
				<binding name="myWsHttpBinding" maxReceivedMessageSize="2147483647" >
					<security mode="None">
						<transport clientCredentialType="None" />
					</security>
					<readerQuotas  maxDepth="73400320" maxArrayLength="2147483647" maxStringContentLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
				</binding>

				<binding name="myWsHttpBindingFibu"  maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="00:05:00" openTimeout="00:05:00" receiveTimeout="00:05:00" sendTimeout="00:05:00">
					<security mode="Transport">
						<transport clientCredentialType="None" />
					</security>
					<readerQuotas  maxDepth="73400320" maxArrayLength="2147483647" maxStringContentLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
				</binding>

				<!-- Binding für Mtan-Service verwendet Clientzertifikat und SSL -->
				<binding name="myWsHttpBindingmtan" maxReceivedMessageSize="2147483647">
					<security mode="Transport">
						<transport clientCredentialType="Certificate" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
					<readerQuotas maxDepth="73400320" maxArrayLength="2147483647" maxStringContentLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
				</binding>

			</wsHttpBinding>

			<basicHttpBinding>

				<!-- Eurotax Service -->
				<binding name="ForecastBindingRPC" closeTimeout="00:01:00" openTimeout="00:01:00"
                    receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
                    bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="1024000" maxBufferPoolSize="524288" maxReceivedMessageSize="1024000"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="1024000" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>

				<!-- Eurotax Service -->
				<binding name="ForecastBindingDoc" closeTimeout="00:01:00" openTimeout="00:01:00"
            receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
            bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="1024000" maxBufferPoolSize="524288" maxReceivedMessageSize="1024000"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="1024000" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>

				<!-- DecisionEngine Service -->
				<binding name="S1PublicServicePortBinding" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="1024000" maxBufferPoolSize="524288" maxReceivedMessageSize="1024000"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="1024000" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>

				<!-- Eurotax Service -->
				<binding name="ValuationBinding" closeTimeout="00:01:00" openTimeout="00:01:00"
            receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
            bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="1024000" maxBufferPoolSize="524288" maxReceivedMessageSize="1024000"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="1024000" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>

				<!-- Deltavista Service -->
				<binding name="DVSOAPServiceSoapBinding" closeTimeout="00:02:01"
						openTimeout="00:02:02" receiveTimeout="00:10:00" sendTimeout="00:05:03"
            allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="1024000" maxBufferPoolSize="524288" maxReceivedMessageSize="1024000"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="false">
					<readerQuotas maxDepth="32" maxStringContentLength="1024000" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="Transport">
						<transport clientCredentialType="Certificate" realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>

				<!-- Deltavista Service -->
				<binding name="DVSOAPServiceV4SoapBinding" closeTimeout="00:02:04"
						openTimeout="00:02:05" receiveTimeout="00:10:00" sendTimeout="00:05:06"
             allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="1024000" maxBufferPoolSize="524288" maxReceivedMessageSize="1024000"
             messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
             useDefaultWebProxy="false">
					<readerQuotas maxDepth="32" maxStringContentLength="1024000" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="Transport">
						<transport clientCredentialType="Certificate" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>

				<!-- ZEK Service -->
				<binding name="ZEKTransactionServiceSoapBinding" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="1024000" maxBufferPoolSize="524288" maxReceivedMessageSize="1024000"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="1024000" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="Transport">
						<transport clientCredentialType="Certificate" />
					</security>
				</binding>

				<!-- ZEK Batch Service -->
				<binding name="ZEKBatchTransactionServiceSoapBinding" closeTimeout="00:01:00" openTimeout="00:01:00"
         receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
         maxBufferSize="1024000" maxBufferPoolSize="524288" maxReceivedMessageSize="1024000" messageEncoding="Text"
         textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="1024000" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="Transport">
						<transport clientCredentialType="Certificate"/>
					</security>
				</binding>

				<!-- Kremo Service -->
				<binding name="ServiceSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
               receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
               bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
               maxBufferSize="1024000" maxBufferPoolSize="524288" maxReceivedMessageSize="1024000"
               messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
               useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="1024000" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>

				<!-- StreamBinding -->
				<binding name="StreamBinding" maxBufferSize="65000" closeTimeout="06:45:00" openTimeout="06:45:00" receiveTimeout="06:45:00" sendTimeout="06:45:00" maxReceivedMessageSize="2147483647" transferMode="StreamedRequest">
					<readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="16864" maxNameTableCharCount="2147483647" />
				</binding>

				<binding name="StreamBindingSSL" maxBufferSize="65000" closeTimeout="06:45:00" openTimeout="06:45:00" receiveTimeout="06:45:00" sendTimeout="06:45:00" maxReceivedMessageSize="2147483647" transferMode="StreamedRequest">
					<security mode="Transport">
						<transport clientCredentialType="None" />
					</security>
					<readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="16864" maxNameTableCharCount="2147483647" />
				</binding>

			</basicHttpBinding>

		</bindings>

		<client>
			<endpoint address="http://webservices.eurotaxglass.com/webservices/forecast.wsa" binding="basicHttpBinding" bindingConfiguration="ForecastBindingRPC" contract="DAO.Auskunft.EurotaxRef.ForecastPortRPC" name="ForecastPortRPC" />
			<endpoint address="http://webservices.eurotaxglass.com/webservices/forecast.wsa" binding="basicHttpBinding" bindingConfiguration="ForecastBindingDoc" contract="DAO.Auskunft.EurotaxRef.ForecastPortDocument" name="ForecastPortDoc" />
			<endpoint address="http://webservices.eurotaxglass.com/webservices/Valuation.wsa" binding="basicHttpBinding" bindingConfiguration="ValuationBinding" contract="DAO.Auskunft.EurotaxValuationRef.ValuationSoapPort" name="ValuationService" />
			<endpoint address="http://bnow-de:8080/strategyone/S1Public" binding="basicHttpBinding" bindingConfiguration="S1PublicServicePortBinding" contract="DAO.Auskunft.DecisionEngineRef.S1Public" name="S1PublicServicePort" />
			<endpoint address="http://intranet.go-for-it.ch/KREMOWebService/Service.asmx" binding="basicHttpBinding" bindingConfiguration="ServiceSoap" contract="DAO.Auskunft.KREMORef.ServiceSoap" name="ServiceSoap" />
			<endpoint address="https://preprodservices.crif-online.ch/ZEKBatch/ZekBatchServiceAnonymousV3" behaviorConfiguration="myCertEndpointBehavior" binding="basicHttpBinding" bindingConfiguration="ZEKBatchTransactionServiceSoapBinding" contract="DAO.Auskunft.ZEKBatchRef.ZEKBatchService" name="ZEKBatchTransactionService"/>
			<endpoint address="https://preprodservices.crif-online.ch/ZEKsoap/ZEKTransactionServiceAnonymousV3" behaviorConfiguration="myCertEndpointBehavior" binding="basicHttpBinding" bindingConfiguration="ZEKTransactionServiceSoapBinding" contract="DAO.Auskunft.ZEKRef.ZEKService" name="ZEKTransactionService" />
			<endpoint address="https://preprodservices.crif-online.ch/dvss/DVSOAPService" binding="basicHttpBinding" bindingConfiguration="DVSOAPServiceSoapBinding" behaviorConfiguration="myCertEndpointBehavior" contract="DAO.Auskunft.DeltavistaRef2.DVSoapService" name="DVSOAPService" />
			<endpoint address="https://preprodservices.crif-online.ch/dvss/DVSOAPServiceV4" behaviorConfiguration="myCertEndpointBehavior" binding="basicHttpBinding" bindingConfiguration="DVSOAPServiceV4SoapBinding" contract="DAO.Auskunft.DeltavistaRef.DVSoapServiceV4" name="DVSOAPServiceV4" />
			<endpoint address="https://bnow-de.cic.muc:8000/SimpleService" binding="basicHttpBinding" bindingConfiguration="StreamBindingSSL" contract="DAO.Auskunft.RISKEWBS1Ref.ICicService" name="RISKEWBS1" />

			<!-- local Development B2BOL Test -->
			<endpoint address="http://dotnet3/B2BOL/B2BOL.svc" binding="wsHttpBinding" bindingConfiguration="myWsHttpBinding" contract="ch.bn.iamws.IB2BOL" name="WSHttpBinding_IB2BOL"/>
			<!-- BNOW Certificate secured B2BOL
			<endpoint address="https://bnw86t.bn.ch:8777/B2BOL.svc" binding="wsHttpBinding" bindingConfiguration="myWsHttpBindingmtan" behaviorConfiguration="mtanCertEndpointBehavior" contract="ch.bn.iamws.IB2BOL" name="wsHttpEndpoint"/>
			-->
		</client>

		<services>

			<service behaviorConfiguration="Cic.OpenOne.Service.ServiceBehavior" name="Cic.OpenOne.GateBANKNOW.Service.mTanService">
				<endpoint address="" binding="wsHttpBinding"  bindingConfiguration="myWsHttpsBinding" contract="Cic.OpenOne.GateBANKNOW.Service.Contract.ImTanService" bindingNamespace="http://cic-software.de/GateBANKNOW">
					<identity>
						<dns value="localhost"/>
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpsBinding" bindingName="mTanServicePortMex1" contract="IMetadataExchange" bindingNamespace="http://cic-software.de/GateBANKNOW"/>

			</service>

			<service behaviorConfiguration="Cic.OpenOne.Service.ServiceBehavior" name="Cic.OpenOne.GateBANKNOW.Service.CarConfigurator">
				<endpoint address="" binding="wsHttpBinding"   bindingConfiguration="myWsHttpsBinding" contract="Cic.OpenOne.CarConfigurator.BO.ConfigurationManager.ICarConfigurator" bindingNamespace="http://cic-software.de/CarConfigurator/CarConfiguratorService">
					<identity>
						<dns value="localhost"/>
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpsBinding" bindingName="CarConfPortMex1" contract="IMetadataExchange" bindingNamespace="http://cic-software.de/CarConfigurator/CarConfiguratorService"/>

			</service>

			<service behaviorConfiguration="Cic.OpenOne.Service.ServiceBehavior" name="Cic.OpenOne.GateBANKNOW.Service.createOrUpdateAntragService">
				<endpoint address="" binding="wsHttpBinding" bindingConfiguration="myWsHttpsBinding" contract="Cic.OpenOne.GateBANKNOW.Service.Contract.IcreateOrUpdateAntragService" bindingNamespace="http://cic-software.de/GateBANKNOW/createOrUpdateAntragService">
					<identity>
						<dns value="localhost"/>
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpsBinding" bindingName="createOrUpdateAntragServicePortMex1" contract="IMetadataExchange" bindingNamespace="http://cic-software.de/GateBANKNOW/createOrUpdateAntragService"/>
			</service>

			<service behaviorConfiguration="Cic.OpenOne.Service.ServiceBehavior" name="Cic.OpenOne.GateBANKNOW.Service.createOrUpdateAngebotService">
				<endpoint address="" binding="wsHttpBinding" bindingConfiguration="myWsHttpsBinding" contract="Cic.OpenOne.GateBANKNOW.Service.Contract.IcreateOrUpdateAngebotService" bindingNamespace="http://cic-software.de/GateBANKNOW/createOrUpdateAngebotService">
					<identity>
						<dns value="localhost"/>
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpsBinding" bindingName="createOrUpdateAngebotServicePortMex1" contract="IMetadataExchange" bindingNamespace="http://cic-software.de/GateBANKNOW/createOrUpdateAngebotService"/>
			</service>

			<service behaviorConfiguration="Cic.OpenOne.Service.ServiceBehavior" name="Cic.OpenOne.GateBANKNOW.Service.changeAngebotService">
				<endpoint address="" binding="wsHttpBinding" bindingConfiguration="myWsHttpsBinding" contract="Cic.OpenOne.GateBANKNOW.Service.Contract.IchangeAngebotService" bindingNamespace="http://cic-software.de/GateBANKNOW/changeAngebotService">
					<identity>
						<dns value="localhost"/>
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpsBinding" bindingName="changeAngebotServicePortMex1" contract="IMetadataExchange" bindingNamespace="http://cic-software.de/GateBANKNOW/changeAngebotService"/>
			</service>

			<service behaviorConfiguration="Cic.OpenOne.Service.ServiceBehavior" name="Cic.OpenOne.GateBANKNOW.Service.changeAntragService">
				<endpoint address="" binding="wsHttpBinding" bindingConfiguration="myWsHttpsBinding" contract="Cic.OpenOne.GateBANKNOW.Service.Contract.IchangeAntragService" bindingNamespace="http://cic-software.de/GateBANKNOW/changeAntragService">
					<identity>
						<dns value="localhost"/>
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpsBinding" bindingName="changeAntragServicePortMex1" contract="IMetadataExchange" bindingNamespace="http://cic-software.de/GateBANKNOW/changeAntragService"/>
			</service>

			<service behaviorConfiguration="Cic.OpenOne.Service.ServiceBehavior" name="Cic.OpenOne.GateBANKNOW.Service.createOrUpdateKundeService">
				<endpoint address="" binding="wsHttpBinding"   bindingConfiguration="myWsHttpsBinding" contract="Cic.OpenOne.GateBANKNOW.Service.Contract.IcreateOrUpdateKundeService" bindingNamespace="http://cic-software.de/GateBANKNOW">
					<identity>
						<dns value="localhost"/>
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpsBinding" bindingName="createOrUpdateKundeServicePortMex1" contract="IMetadataExchange" bindingNamespace="http://cic-software.de/GateBANKNOW"/>

			</service>
			<service behaviorConfiguration="Cic.OpenOne.Service.ServiceBehavior" name="Cic.OpenOne.GateBANKNOW.Service.createSchnellkalkulationService">
				<endpoint address="" binding="wsHttpBinding"  bindingConfiguration="myWsHttpsBinding" contract="Cic.OpenOne.GateBANKNOW.Service.Contract.IcreateOrUpdateSchnellkalkulationService" bindingNamespace="http://cic-software.de/GateBANKNOW">
					<identity>
						<dns value="localhost"/>
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpsBinding" bindingName="createOrUpdateSchnellkalkulationServicePortMex1" contract="IMetadataExchange" bindingNamespace="http://cic-software.de/GateBANKNOW"/>

			</service>

			<service behaviorConfiguration="Cic.OpenOne.Service.ServiceBehavior" name="Cic.OpenOne.GateBANKNOW.Service.getBuchwertService">
				<endpoint address="" binding="wsHttpBinding"  bindingConfiguration="myWsHttpsBinding" contract="Cic.OpenOne.GateBANKNOW.Service.Contract.IgetBuchwertService" bindingNamespace="http://cic-software.de/GateBANKNOW">
					<identity>
						<dns value="localhost"/>
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpsBinding" bindingName="getBuchwertServicePortMex1" contract="IMetadataExchange" bindingNamespace="http://cic-software.de/GateBANKNOW"/>
			</service>
			<service behaviorConfiguration="Cic.OpenOne.Service.ServiceBehavior" name="Cic.OpenOne.GateBANKNOW.Service.getPartnerZusatzdatenService">
				<endpoint address="" binding="wsHttpBinding"   bindingConfiguration="myWsHttpsBinding" contract="Cic.OpenOne.GateBANKNOW.Service.Contract.IgetPartnerZusatzdatenService" bindingNamespace="http://cic-software.de/GateBANKNOW">
					<identity>
						<dns value="localhost"/>
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpsBinding" bindingName="getPartnerZusatzdatenServicePortMex1" contract="IMetadataExchange" bindingNamespace="http://cic-software.de/GateBANKNOW"/>
			</service>
			<service behaviorConfiguration="Cic.OpenOne.Service.ServiceBehavior" name="Cic.OpenOne.GateBANKNOW.Service.loginPartnerService">
				<endpoint address="" binding="wsHttpBinding"    bindingConfiguration="myWsHttpsBinding" contract="Cic.OpenOne.GateBANKNOW.Service.Contract.IloginPartnerService" bindingNamespace="http://cic-software.de/GateBANKNOW">
					<identity>
						<dns value="localhost"/>
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpsBinding" bindingName="loginPartnerServicePortMex1" contract="IMetadataExchange" bindingNamespace="http://cic-software.de/GateBANKNOW"/>
			</service>
			<service behaviorConfiguration="Cic.OpenOne.Service.ServiceBehavior" name="Cic.OpenOne.GateBANKNOW.Service.printAngebotService">
				<endpoint address="" binding="wsHttpBinding"   bindingConfiguration="myWsHttpsBinding" contract="Cic.OpenOne.GateBANKNOW.Service.Contract.IprintAngebotService" bindingNamespace="http://cic-software.de/GateBANKNOW">
					<identity>
						<dns value="localhost"/>
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpsBinding" bindingName="printAngebotServicePortMex1" contract="IMetadataExchange" bindingNamespace="http://cic-software.de/GateBANKNOW"/>
			</service>
			<service behaviorConfiguration="Cic.OpenOne.Service.ServiceBehavior" name="Cic.OpenOne.GateBANKNOW.Service.printAntragService">
				<endpoint address="" binding="wsHttpBinding"   bindingConfiguration="myWsHttpsBinding" contract="Cic.OpenOne.GateBANKNOW.Service.Contract.IprintAntragService" bindingNamespace="http://cic-software.de/GateBANKNOW">
					<identity>
						<dns value="localhost"/>
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpsBinding" bindingName="printAntragServicePortMex1" contract="IMetadataExchange" bindingNamespace="http://cic-software.de/GateBANKNOW"/>

			</service>
			<service behaviorConfiguration="Cic.OpenOne.Service.ServiceBehavior" name="Cic.OpenOne.GateBANKNOW.Service.searchAngebotService">
				<endpoint address="" binding="wsHttpBinding"   bindingConfiguration="myWsHttpsBinding" contract="Cic.OpenOne.GateBANKNOW.Service.Contract.IsearchAngebotService" bindingNamespace="http://cic-software.de/GateBANKNOW">
					<identity>
						<dns value="localhost"/>
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpsBinding" bindingName="searchAngebotServicePortMex1" contract="IMetadataExchange" bindingNamespace="http://cic-software.de/GateBANKNOW"/>

			</service>
			<service behaviorConfiguration="Cic.OpenOne.Service.ServiceBehavior" name="Cic.OpenOne.GateBANKNOW.Service.searchAntragService">
				<endpoint address="" binding="wsHttpBinding"   bindingConfiguration="myWsHttpsBinding" contract="Cic.OpenOne.GateBANKNOW.Service.Contract.IsearchAntragService" bindingNamespace="http://cic-software.de/GateBANKNOW">
					<identity>
						<dns value="localhost"/>
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpsBinding" bindingName="searchAntragServicePortMex1" contract="IMetadataExchange" bindingNamespace="http://cic-software.de/GateBANKNOW"/>

			</service>
			<service behaviorConfiguration="Cic.OpenOne.Service.ServiceBehavior" name="Cic.OpenOne.GateBANKNOW.Service.searchKundeService">
				<endpoint address="" binding="wsHttpBinding"   bindingConfiguration="myWsHttpsBinding" contract="Cic.OpenOne.GateBANKNOW.Service.Contract.IsearchKundeService" bindingNamespace="http://cic-software.de/GateBANKNOW">
					<identity>
						<dns value="localhost"/>
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpsBinding" bindingName="searchKundeServicePortMex1" contract="IMetadataExchange" bindingNamespace="http://cic-software.de/GateBANKNOW"/>

			</service>
			<service behaviorConfiguration="Cic.OpenOne.Service.ServiceBehavior" name="Cic.OpenOne.GateBANKNOW.Service.searchVertragService">
				<endpoint address="" binding="wsHttpBinding"   bindingConfiguration="myWsHttpsBinding" contract="Cic.OpenOne.GateBANKNOW.Service.Contract.IsearchVertragService" bindingNamespace="http://cic-software.de/GateBANKNOW">
					<identity>
						<dns value="localhost"/>
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpsBinding" bindingName="searchVertragServicePortMex1" contract="IMetadataExchange" bindingNamespace="http://cic-software.de/GateBANKNOW"/>

			</service>

			<service behaviorConfiguration="Cic.OpenOne.Service.ServiceBehavior" name="Cic.OpenOne.GateBANKNOW.Service.AuskunftService">
				<endpoint address="" binding="wsHttpBinding" bindingConfiguration="myWsHttpsBinding" contract="Cic.OpenOne.GateBANKNOW.Service.Contract.IAuskunftService" bindingNamespace="http://cic-software.de/GateBANKNOW/AuskunftService">
					<identity>
						<dns value="localhost"/>
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpsBinding" bindingName="AuskunftServicePortMex1" contract="IMetadataExchange" bindingNamespace="http://cic-software.de/GateBANKNOW/AuskunftService"/>
			</service>

			<service behaviorConfiguration="Cic.OpenOne.Service.ServiceBehavior" name="Cic.OpenOne.GateBANKNOW.Service.StateService">
				<endpoint address="" binding="wsHttpBinding" bindingConfiguration="myWsHttpsBinding" contract="Cic.OpenOne.GateBANKNOW.Service.Contract.IStateService" bindingNamespace="http://cic-software.de/GateBANKNOW/StateService">
					<identity>
						<dns value="localhost"/>
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpsBinding" bindingName="AuskunftServicePortMex1" contract="IMetadataExchange" bindingNamespace="http://cic-software.de/GateBANKNOW/StateService"/>
			</service>

			<!-- Simple Service (StrategyOne)-->
			<service name="Cic.OpenOne.GateBANKNOW.Service.StreamService" behaviorConfiguration="StreamBehavior">
				<endpoint address="" binding="basicHttpBinding" bindingConfiguration="StreamBindingSSL" contract="Cic.OpenOne.GateBANKNOW.Service.Contract.IStreamService"  bindingNamespace="http://cic-software.de/GateBANKNOW">
					<identity>
						<dns value="localhost"/>
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpsBinding" bindingName="StreamServicePortMex2" contract="IMetadataExchange" bindingNamespace="http://cic-software.de/GateBANKNOW"/>
			</service>

			<!-- Fibu Service -->
			<service behaviorConfiguration="Cic.OpenOne.Service.ServiceBehavior" name="Cic.OpenOne.GateBANKNOW.Service.FibuService">
				<endpoint address="" binding="wsHttpBinding" bindingConfiguration="myWsHttpBindingFibu" contract="Cic.OpenOne.GateBANKNOW.Service.Contract.IFibuService" bindingNamespace="http://cic-software.de/GateBANKNOW/FibuService">
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpsBinding" bindingName="FibuServicePortMex1" contract="IMetadataExchange" bindingNamespace="http://cic-software.de/GateBANKNOW/FibuService" />
			</service> 

		</services>

		<behaviors>
			<serviceBehaviors>

				<behavior name="Cic.OpenOne.Service.ServiceBehavior">
					<serviceMetadata  httpGetEnabled="false" httpsGetEnabled="true"/>
					<serviceThrottling maxConcurrentCalls="75" maxConcurrentInstances="105" maxConcurrentSessions="30"/>
					<!-- //set httpsgetenabled only to true if the server supports https and has a certificate installed! -->
					<serviceDebug includeExceptionDetailInFaults="true"/>
				</behavior>

				<behavior name="StreamBehavior">
					<serviceMetadata httpGetEnabled="false" httpsGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="true"/>
					<serviceThrottling maxConcurrentSessions="150" maxConcurrentCalls="150" maxConcurrentInstances="150"/>
				</behavior>

			</serviceBehaviors>

			<endpointBehaviors>
				<behavior name="myCertEndpointBehavior">
					<clientCredentials>
						<clientCertificate findValue="SSLAuth" storeLocation="LocalMachine" x509FindType="FindBySubjectName" />
					</clientCredentials>
				</behavior>
				<behavior name="mtanCertEndpointBehavior">
					<clientCredentials>
						<clientCertificate findValue="BOS-EAI (S204131)" storeLocation="LocalMachine" x509FindType="FindBySubjectName" />
					</clientCredentials>
				</behavior>

			</endpointBehaviors>

		</behaviors>

		<serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="false"/>

	</system.serviceModel>

	<system.data>
		<DbProviderFactories>
			<remove invariant="Devart.Data.Oracle"/>
			<add name="dotConnect for Oracle" invariant="Devart.Data.Oracle"
             description="Devart dotConnect for Oracle" type="Devart.Data.Oracle.OracleProviderFactory, Devart.Data.Oracle" />
		</DbProviderFactories>
	</system.data>

	<system.web>
		<httpRuntime maxRequestLength="2147483647" useFullyQualifiedRedirectUrl="true" executionTimeout="14400"   />

	</system.web>

	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
		<!-- serverRuntime uploadReadAheadSize="2147483647" / -->
	</system.webServer>  

</configuration>
