<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Cic.OpenOne.Common.Properties.Config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="CIC.ASS.Common.ASS" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <Cic.OpenOne.Common.Properties.Config>
      <setting name="SoapLoggingEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OpenLeaseConnectionStringDirect" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OpenLeaseConnectionStringServerName" serializeAs="String">
        <value>CICDBS24</value>
        <!--CICDBS23-->
      </setting>
      <setting name="OpenLeaseConnectionStringServerPort" serializeAs="String">
        <value>1521</value>
      </setting>
      <setting name="OpenLeaseConnectionStringUserId" serializeAs="String">
        <value>CIC</value>
      </setting>
      <setting name="OpenLeaseConnectionStringPassword" serializeAs="String">
        <value>SKYE</value>
      </setting>
      <setting name="OpenLeaseConnectionStringPlainPassword" serializeAs="String">
        <value>false</value>
      </setting>
      <setting name="DatasourceProviderName" serializeAs="String">
        <value>Devart.Data.Oracle</value>
      </setting>
      <setting name="OpenLeaseConnectionStringDataSource" serializeAs="String">
        <value>GAONE</value>
        <!--CRMLOCAL-BMWONEDEV-->
      </setting>
      <setting name="OpenLeaseConnectionStringSID" serializeAs="String">
        <value>GAONE</value>
        <!-- XE- BMWONEDEV -->
      </setting>
      <setting name="DBConnectionTimeout" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="DBValidateConnection" serializeAs="String">
        <value>false</value>
      </setting>
      <setting name="DBMinPoolSize" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="DBMaxPoolSize" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="DBStatementCacheSize" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="ExchangeEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ExchangeVersion" serializeAs="String">
        <value>Exchange2007_SP1</value>
      </setting>
      <setting name="ExchangeSyncedFolderName" serializeAs="String">
        <value>CRM</value>
      </setting>
      <setting name="ExchangeServiceAccountName" serializeAs="String">
        <value>CRM</value>
      </setting>
      <setting name="ExchangeServiceAccountPassword" serializeAs="String">
        <value>geheim</value>
      </setting>
      <setting name="ExchangeServiceAccountPlainPassword" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ExchangeUseServiceAccount" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ExchangeAutodiscoverURL" serializeAs="String">
        <value>https://mail.cic-group.eu/EWS/Exchange.asmx</value>
      </setting>
      <setting name="ExchangeSyncIntervallSeconds" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="ITADocumentSearchAddress" serializeAs="String">
        <value>localhost:8080</value>
      </setting>
      <setting name="ITADocumentSearchUserProfile" serializeAs="String">
        <value/>
      </setting>
      <setting name="ITADocumentSearchUser" serializeAs="String">
        <value>gast</value>
      </setting>
      <setting name="ITADocumentSearchPassword" serializeAs="String">
        <value>gast</value>
      </setting>
      <setting name="ITADocumentSearchRole" serializeAs="String">
        <value/>
      </setting>
      <setting name="ITADocumentSearchUnit" serializeAs="String">
        <value/>
      </setting>
      <setting name="ITADocumentSearchSystem" serializeAs="String">
        <value/>
      </setting>
      <setting name="ITADocumentSearchDbas" serializeAs="String">
        <value>Datenbestand</value>
      </setting>
      <setting name="ITADocumentSearchUseTestdata" serializeAs="String">
        <value>True</value>
      </setting>
    </Cic.OpenOne.Common.Properties.Config>
    <CIC.ASS.Common.ASS>
      <setting name="IndexPath" serializeAs="String">
        <value>C:\temp\IndexGAONE</value>
      </setting>
      <setting name="AutocompleteIndexPath" serializeAs="String">
        <value>C:\temp\IndexGAONE\Autocomplete</value>
      </setting>
      <setting name="IndexUpdateInterval" serializeAs="String">
        <value>30000</value>
      </setting>
      <setting name="AutocompleteUpdateInterval" serializeAs="String">
        <value>300000</value>
      </setting>
    </CIC.ASS.Common.ASS>
  </applicationSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <pages clientIDMode="AutoID"/>
  </system.web>
  <!--
  Anleitung zur aktivierung von SSL (funktioniert nur auf IIS mit SSL Zertifikat, nicht am Entwicklungsrechner!
  * in wsHttpBinding security-block aktivieren
  * in serviceMetaData httpsGetEnabled="true" setzen
  * die Endpoints mit mexHttpsBinding aktivieren
  Wenn nur einer der Punkte aktiv ist ohne dass der Server SSL unterstützt wird eine Fehlermeldung im Browser beim Aufruf der svc-Seite generiert!
  -->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_CASKernel" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="CrefoCustomBindingSoap12">
          <mtomMessageEncoding messageVersion="Soap12" maxBufferSize="1024000" />
          <httpsTransport manualAddressing="false" maxBufferPoolSize="524288"
            maxReceivedMessageSize="1024000" allowCookies="false" authenticationScheme="Anonymous"
            bypassProxyOnLocal="false" decompressionEnabled="true" hostNameComparisonMode="StrongWildcard"
            keepAliveEnabled="true" maxBufferSize="1024000" proxyAuthenticationScheme="Anonymous"
            realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false"
            useDefaultWebProxy="true" requireClientCertificate="false" />
        </binding>
      </customBinding>
      <wsDualHttpBinding>
        <binding name="DuplexBinding">
          <security mode="None" />
        </binding>
      </wsDualHttpBinding>
      <wsHttpBinding>
        <binding name="myWsHttpBinding" closeTimeout="00:01:00" openTimeout="00:01:00"
			receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
			bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
			 maxBufferPoolSize="2147483647" 
			maxReceivedMessageSize="2147483647" messageEncoding="Text"
			textEncoding="utf-8" useDefaultWebProxy="true">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" 
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          
          <security mode="None">
            <transport clientCredentialType="None" />
            <message establishSecurityContext="false" />
          </security>
        </binding>
        <binding name="myWsHttpsBinding" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="73400320" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://ktu.onlineservice.creditreform.de:443/webservice/0400-0005/soap12/messages.wsdl"
        binding="customBinding" bindingConfiguration="CrefoCustomBindingSoap12"
        contract="CrefoService.CtoMessages" name="CrefoEndPoint" />
      <endpoint address="http://localhost:50139/CASKernel.svc" binding="basicHttpBinding"
     bindingConfiguration="BasicHttpBinding_CASKernel" contract="CASKernel.CASKernel"
     name="BasicHttpBinding_CASKernel" />
   
    </client>
    <services>
      <service behaviorConfiguration="Cic.One.Web.Service.ServiceBehavior" name="Cic.One.Web.Service.auskunftService">
        <endpoint address="" behaviorConfiguration="Cic.SpecialBehaviour" binding="wsHttpBinding" bindingConfiguration="myWsHttpBinding" contract="Cic.One.Web.Contract.IauskunftService" bindingNamespace="http://cic-software.de/One">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <!-- UNCOMMENT for SSL -->
        <!--  <endpoint address="mex" binding="mexHttpsBinding" bindingName="searchAntragServicePortMex1" contract="IMetadataExchange" bindingNamespace="http://cic-software.de/One/"/>//-->
        <endpoint address="mex" binding="mexHttpBinding" bindingName="auskunftServiceServicePortMex2" contract="IMetadataExchange" bindingNamespace="http://cic-software.de/One"/>
      </service>
      <service behaviorConfiguration="Cic.One.Web.Service.ServiceBehavior" name="Cic.One.Web.Service.appManagementService">
        <endpoint address="" behaviorConfiguration="Cic.SpecialBehaviour" binding="wsHttpBinding" bindingConfiguration="myWsHttpBinding" contract="Cic.One.Web.Contract.IappManagementService" bindingNamespace="http://cic-software.de/One">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <!-- UNCOMMENT for SSL -->
        <!--  <endpoint address="mex" binding="mexHttpsBinding" bindingName="searchAntragServicePortMex1" contract="IMetadataExchange" bindingNamespace="http://cic-software.de/One/"/>//-->
        <endpoint address="mex" binding="mexHttpBinding" bindingName="appManagementServicePortMex2" contract="IMetadataExchange" bindingNamespace="http://cic-software.de/One"/>
      </service>
      <service behaviorConfiguration="Cic.One.Web.Service.ServiceBehavior" name="Cic.One.Web.Service.documentSearchService">
        <endpoint address="" behaviorConfiguration="Cic.SpecialBehaviour" binding="wsHttpBinding" bindingConfiguration="myWsHttpBinding" contract="Cic.One.Web.Contract.IdocumentSearchService" bindingNamespace="http://cic-software.de/One">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <!-- UNCOMMENT for SSL -->
        <!--  <endpoint address="mex" binding="mexHttpsBinding" bindingName="documentSearchServicePortMex1" contract="IMetadataExchange" bindingNamespace="http://cic-software.de/One/"/>//-->
        <endpoint address="mex" binding="mexHttpBinding" bindingName="documentSearchServicePortMex2" contract="IMetadataExchange" bindingNamespace="http://cic-software.de/One"/>
      </service>
      <service behaviorConfiguration="Cic.One.Web.Service.ServiceBehavior" name="Cic.One.Web.Service.searchService">
        <endpoint address="" behaviorConfiguration="Cic.SpecialBehaviour" binding="wsHttpBinding" bindingConfiguration="myWsHttpBinding" contract="Cic.One.Web.Contract.IsearchService" bindingNamespace="http://cic-software.de/One">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <!-- UNCOMMENT for SSL -->
        <!--  <endpoint address="mex" binding="mexHttpsBinding" bindingName="searchAntragServicePortMex1" contract="IMetadataExchange" bindingNamespace="http://cic-software.de/One"/>//-->
        <endpoint address="mex" binding="mexHttpBinding" bindingName="searchServicePortMex2" contract="IMetadataExchange" bindingNamespace="http://cic-software.de/One"/>
      </service>
      <service behaviorConfiguration="Cic.One.Web.Service.ServiceBehavior" name="Cic.One.Web.Service.getEntityService">
        <endpoint address="" behaviorConfiguration="Cic.SpecialBehaviour" binding="wsHttpBinding" bindingConfiguration="myWsHttpBinding" contract="Cic.One.Web.Contract.IgetEntityService" bindingNamespace="http://cic-software.de/One">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <!-- UNCOMMENT for SSL -->
        <!--  <endpoint address="mex" binding="mexHttpsBinding" bindingName="searchAntragServicePortMex1" contract="IMetadataExchange" bindingNamespace="http://cic-software.de/One"/>//-->
        <endpoint address="mex" binding="mexHttpBinding" bindingName="getEntityServicePortMex2" contract="IMetadataExchange" bindingNamespace="http://cic-software.de/One"/>
      </service>
      <service behaviorConfiguration="Cic.One.Web.Service.ServiceBehavior" name="Cic.One.Web.Service.createOrUpdateService">
        <endpoint address="" behaviorConfiguration="Cic.SpecialBehaviour" binding="wsHttpBinding" bindingConfiguration="myWsHttpBinding" contract="Cic.One.Web.Contract.IcreateOrUpdateService" bindingNamespace="http://cic-software.de/One">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <!-- UNCOMMENT for SSL -->
        <!--  <endpoint address="mex" binding="mexHttpsBinding" bindingName="searchAntragServicePortMex1" contract="IMetadataExchange" bindingNamespace="http://cic-software.de/One"/>//-->
        <endpoint address="mex" binding="mexHttpBinding" bindingName="createOrUpdateServicePortMex2" contract="IMetadataExchange" bindingNamespace="http://cic-software.de/One"/>
      </service>
      <service behaviorConfiguration="Cic.One.Web.Service.ServiceBehavior" name="Cic.One.Web.Service.printService">
        <endpoint address="" behaviorConfiguration="Cic.SpecialBehaviour" binding="wsHttpBinding" bindingConfiguration="myWsHttpBinding" contract="Cic.One.Web.Contract.IprintService" bindingNamespace="http://cic-software.de/One">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <!-- UNCOMMENT for SSL -->
        <!--  <endpoint address="mex" binding="mexHttpsBinding" bindingName="searchAntragServicePortMex1" contract="IMetadataExchange" bindingNamespace="http://cic-software.de/One"/>//-->
        <endpoint address="mex" binding="mexHttpBinding" bindingName="printServicePortMex2" contract="IMetadataExchange" bindingNamespace="http://cic-software.de/One"/>
      </service>
      <service behaviorConfiguration="Cic.One.Web.Service.ServiceBehavior" name="Cic.One.Web.Service.mailService">
        <endpoint address="" behaviorConfiguration="Cic.SpecialBehaviour" binding="wsHttpBinding" bindingConfiguration="myWsHttpBinding" contract="Cic.One.Web.Contract.ImailService" bindingNamespace="http://cic-software.de/One">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <!-- UNCOMMENT for SSL -->
        <!--  <endpoint address="mex" binding="mexHttpsBinding" bindingName="mailServicePortMex1" contract="IMetadataExchange" bindingNamespace="http://cic-software.de/One"/>//-->
        <endpoint address="mex" binding="mexHttpBinding" bindingName="mailServicePortMex2" contract="IMetadataExchange" bindingNamespace="http://cic-software.de/One"/>
      </service>
      <service behaviorConfiguration="Cic.One.Web.Service.ServiceBehavior" name="Cic.One.Web.Service.xproSearchService">
        <endpoint address="" behaviorConfiguration="Cic.SpecialBehaviour" binding="wsHttpBinding" bindingConfiguration="myWsHttpBinding" contract="Cic.One.Web.Contract.IxproSearchService" bindingNamespace="http://cic-software.de/One">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <!-- UNCOMMENT for SSL -->
        <!--  <endpoint address="mex" binding="mexHttpsBinding" bindingName="xproSearchServiceServicePortMex1" contract="IMetadataExchange" bindingNamespace="http://cic-software.de/One"/>//-->
        <endpoint address="mex" binding="mexHttpBinding" bindingName="xproSearchServiceServicePortMex2" contract="IMetadataExchange" bindingNamespace="http://cic-software.de/One"/>
      </service>
      <service name="Cic.One.Web.Service.chatService" behaviorConfiguration="ChatBehavior">
        <endpoint address="" binding="wsDualHttpBinding" contract="Cic.One.Web.Contract.IchatService" bindingConfiguration="DuplexBinding" name="HttpBinding"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" name="MexBinding"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:60272/chatService/"/>
          </baseAddresses>
        </host>
      </service>
      <service name="Cic.One.Web.Service.luceneService">
        <endpoint  address="" binding="webHttpBinding" contract="CIC.ASS.SearchService.ILuceneSearch" behaviorConfiguration="jsonBehaviour"/>
      </service>
	    <service behaviorConfiguration="Cic.One.Web.Service.ServiceBehavior" name="Cic.One.GateWKT.wktService">
        <endpoint address="" behaviorConfiguration="Cic.SpecialBehaviour" binding="wsHttpBinding" bindingConfiguration="myWsHttpBinding" contract="Cic.One.GateWKT.Contract.IwktService" bindingNamespace="http://cic-software.de/One">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <!-- UNCOMMENT for SSL -->
        <!--  <endpoint address="mex" binding="mexHttpsBinding" bindingName="wktServiceServicePortMex1" contract="IMetadataExchange" bindingNamespace="http://cic-software.de/One"/>//-->
        <endpoint address="mex" binding="mexHttpBinding" bindingName="wktServiceServicePortMex2" contract="IMetadataExchange" bindingNamespace="http://cic-software.de/One"/>
      </service>
	  
    </services>
    <extensions>
      <behaviorExtensions>
        <add name="flatWsdl" type="Cic.OpenOne.Common.Util.Behaviour.FlatWsdl, Cic.One.Utils"/>
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Cic.One.Web.Service.ServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="false"/>
          <serviceThrottling maxConcurrentCalls="75" maxConcurrentSessions="30" maxConcurrentInstances="105"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="ChatBehavior">
          <serviceMetadata httpGetEnabled="false"/>
          <serviceThrottling maxConcurrentSessions="10000"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="Cic.SpecialBehaviour">
          <flatWsdl/>
        </behavior>
        <behavior name="jsonBehaviour">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Devart.Data.Oracle"/>
      <add name="dotConnect for Oracle" invariant="Devart.Data.Oracle" description="Devart dotConnect for Oracle" type="Devart.Data.Oracle.OracleProviderFactory, Devart.Data.Oracle"/>
    </DbProviderFactories>
  </system.data>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>