*.user
*.zip
Documentation
FxCopReport.xml
Help
NUnitReport.xml
OFiSWebServices.Documentation
UpgradeLog.XML
_UpgradeReport_Files
bin
obj
_ReSharper.Framework
*.suo
*.log
CIC.One/UnitTest/resources/
sh.exe.stackdump
CIC.OpenOneGateBANKNOW/Cic.OpenOne.GateBANKNOW.Service/*.log.*
packages/*
.vs/