<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Cic.OpenOne.GateBANKNOW.Service.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="Cic.OpenOne.Common.Properties.Config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="Cic.OpenOne.GateBANKNOW.Common.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <applicationSettings>
    <Cic.OpenOne.Common.Properties.Config>
      <!-- OLSE02  -->
      <setting name="DynamicPassword" serializeAs="String">
        <value>false</value>
      </setting>
      <setting name="CicPasswordServiceAddress" serializeAs="String">
        <value>http://bnr12dev/BAS/PasswordService.svc</value>
      </setting>
      <setting name="OpenLeaseConnectionStringDataSource" serializeAs="String">
        <value>OLSE02.CIC</value>
      </setting>
      <setting name="OpenLeaseConnectionStringSID" serializeAs="String">
        <value>OLSE02</value>
      </setting>
      <setting name="OpenLeaseConnectionStringServerName" serializeAs="String">
        <value>CICDBS29</value>
      </setting>
      <!-- BNR12   

      <setting name="DynamicPassword" serializeAs="String">
        <value>true</value>
      </setting>
      <setting name="CicPasswordServiceAddress" serializeAs="String">
        <value>https://bnr12dev1.cic.muc/BAS/PasswordService.svc</value>
      </setting>
      <setting name="OpenLeaseConnectionStringDataSource" serializeAs="String">
        <value>bnr12dev.CIC</value>
      </setting>
      <setting name="OpenLeaseConnectionStringSID" serializeAs="String">
        <value>bnr12dev</value>
      </setting>
      <setting name="OpenLeaseConnectionStringServerName" serializeAs="String">
        <value>CICDBS30</value>
      </setting>
-->
      <!-- HCEDEV  
      
    

      <setting name="DynamicPassword" serializeAs="String">
        <value>false</value>
      </setting>
      
      <setting name="CicPasswordServiceAddress" serializeAs="String">
        <value>http://bnr12dev/BAS/PasswordService.svc</value>
      </setting>
      <setting name="OpenLeaseConnectionStringDataSource" serializeAs="String">
        <value>hcedev.CIC</value>
      </setting>
      <setting name="OpenLeaseConnectionStringSID" serializeAs="String">
        <value>hcedev</value>
      </setting>
      <setting name="OpenLeaseConnectionStringServerName" serializeAs="String">
        <value>CICDBS29</value>
      </setting>  
     -->
      <!-- CIC Password Server Application Id für diese Anwendung. -->
      <setting name="AppId" serializeAs="String">
        <value>CICONE</value>
      </setting>
      <!-- Wenn True, alle Soap-Requests und Responses werden in die Logdatei geschrieben. -->
      <setting name="SoapLoggingEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <!-- Wenn True, alle Soap-Requests und Responses im Auskunft-Service werden in die Tabelle LOGDUMP geschrieben. -->
      <setting name="SoapLoggingEnabledAuskunft" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OpenLeaseConnectionStringDirect" serializeAs="String">
        <value>True</value>
      </setting>
      <!-- Nur relevant wenn Direct = False -->
      <!-- Der OraClient-Name wie er im Oracle Universal Installer steht -->
      <setting name="OpenLeaseConnectionStringOraClientHome" serializeAs="String">
        <value>OraClient11g_home1_32bit</value>
      </setting>
      <!-- Nur relevant wenn Direct = True -->
      <!-- Port and SID options are not allowed in ConnectionString when Direct is false. -->
      <setting name="OpenLeaseConnectionStringServerPort" serializeAs="String">
        <value>1521</value>
      </setting>
      <setting name="OpenLeaseConnectionStringUserId" serializeAs="String">
        <value>CIC</value>
      </setting>
      <setting name="OpenLeaseConnectionStringPassword" serializeAs="String">
        <value>SKYE</value>
      </setting>
      <setting name="OpenLeaseConnectionStringPlainPassword" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DatasourceProviderName" serializeAs="String">
        <value>Devart.Data.Oracle</value>
      </setting>
      <setting name="DBConnectionTimeout" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="DBValidateConnection" serializeAs="String">
        <value>false</value>
      </setting>
      <setting name="DBMinPoolSize" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="DBMaxPoolSize" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="DBStatementCacheSize" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="PreSharedKeyType" serializeAs="String">
        <value>B2B</value>
      </setting>
      <setting name="PreSharedKeyPath" serializeAs="String">
        <value>INTEROP/LOGINKONTEXT/PSKB2B</value>
      </setting>
      <setting name="SAML" serializeAs="String">
        <value>false</value>
      </setting>
    </Cic.OpenOne.Common.Properties.Config>
    <Cic.OpenOne.GateBANKNOW.Common.Settings>
      <setting name="NotificationGatewaySmtpServer" serializeAs="String">
        <value>80.146.230.3</value>
      </setting>
      <setting name="NotificationGatewaySmtpFaxConnector" serializeAs="String">
        <value>cic-group.eu</value>
      </setting>
      <setting name="NotificationGatewaySmtpSmsConnector" serializeAs="String">
        <value>cic-group.eu</value>
      </setting>
      <setting name="ContextOverride" serializeAs="String">
        <value>true</value>
      </setting>
    </Cic.OpenOne.GateBANKNOW.Common.Settings>
  </applicationSettings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Devart.Data.Oracle"/>
      <add name="dotConnect for Oracle" invariant="Devart.Data.Oracle" description="Devart dotConnect for Oracle" type="Devart.Data.Oracle.OracleProviderFactory, Devart.Data.Oracle"/>
    </DbProviderFactories>
  </system.data>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Devart.Data" publicKeyToken="09af7300eec23701" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.2045.0" newVersion="5.0.2045.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>
