<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="6.2.2" targetFramework="net45" />
  <package id="CIC.Database.OL.EF6" version="4.462.211.371" targetFramework="net46" />
  <package id="CIC.Database.PRISMA.EF6" version="4.457.200.360" targetFramework="net45" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net46" />
</packages>