<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="PrismaEntities" connectionString="metadata=res://*/Prisma.Prisma.csdl|res://*/Prisma.Prisma.ssdl|res://*/Prisma.Prisma.msl;provider=Devart.Data.Oracle;provider connection string=&quot;User Id=CIC;Server=CICDBS30;Direct=True;Sid=BNR11DEV&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>