<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Cic.OpenOne.Common.Properties.Config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="CIC.ASS.Common.ASS" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <Cic.OpenOne.Common.Properties.Config>
      <setting name="SoapLoggingEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OpenLeaseConnectionStringDirect" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OpenLeaseConnectionStringServerName" serializeAs="String">
        <value>CICDBS23</value>
        <!--CICDBS23-->
      </setting>
      <setting name="OpenLeaseConnectionStringServerPort" serializeAs="String">
        <value>1521</value>
      </setting>
      <setting name="OpenLeaseConnectionStringUserId" serializeAs="String">
        <value>CIC</value>
      </setting>
      <setting name="OpenLeaseConnectionStringPassword" serializeAs="String">
        <value>SKYE</value>
      </setting>
      <setting name="OpenLeaseConnectionStringPlainPassword" serializeAs="String">
        <value>false</value>
      </setting>
      <setting name="DatasourceProviderName" serializeAs="String">
        <value>Devart.Data.Oracle</value>
      </setting>
      <setting name="OpenLeaseConnectionStringDataSource" serializeAs="String">
        <value>BMWONEDEV</value>
        <!--CRMLOCAL-BMWONEDEV-->
      </setting>
      <setting name="OpenLeaseConnectionStringSID" serializeAs="String">
        <value>BMWONEDEV</value>
        <!-- XE- BMWONEDEV -->
      </setting>
      <setting name="DBConnectionTimeout" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="DBValidateConnection" serializeAs="String">
        <value>false</value>
      </setting>
      <setting name="DBMinPoolSize" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="DBMaxPoolSize" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="DBStatementCacheSize" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="ExchangeEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ExchangeVersion" serializeAs="String">
        <value>Exchange2007_SP1</value>
      </setting>
      <setting name="ExchangeSyncedFolderName" serializeAs="String">
        <value>CRM</value>
      </setting>
      <setting name="ExchangeServiceAccountName" serializeAs="String">
        <value>CRM</value>
      </setting>
      <setting name="ExchangeServiceAccountPassword" serializeAs="String">
        <value>geheim</value>
      </setting>
      <setting name="ExchangeServiceAccountPlainPassword" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ExchangeUseServiceAccount" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ExchangeAutodiscoverURL" serializeAs="String">
        <value>https://mail.cic-group.eu/EWS/Exchange.asmx</value>
      </setting>
      <setting name="ExchangeSyncIntervallSeconds" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="ITADocumentSearchAddress" serializeAs="String">
        <value>localhost:8080</value>
      </setting>
      <setting name="ITADocumentSearchUserProfile" serializeAs="String">
        <value/>
      </setting>
      <setting name="ITADocumentSearchUser" serializeAs="String">
        <value>gast</value>
      </setting>
      <setting name="ITADocumentSearchPassword" serializeAs="String">
        <value>gast</value>
      </setting>
      <setting name="ITADocumentSearchRole" serializeAs="String">
        <value/>
      </setting>
      <setting name="ITADocumentSearchUnit" serializeAs="String">
        <value/>
      </setting>
      <setting name="ITADocumentSearchSystem" serializeAs="String">
        <value/>
      </setting>
      <setting name="ITADocumentSearchDbas" serializeAs="String">
        <value>Datenbestand</value>
      </setting>
      <setting name="ITADocumentSearchUseTestdata" serializeAs="String">
        <value>True</value>
      </setting>
    </Cic.OpenOne.Common.Properties.Config>
    <CIC.ASS.Common.ASS>
      <setting name="IndexPath" serializeAs="String">
        <value>C:\temp\IndexCIC1DEV</value>
      </setting>
      <setting name="AutocompleteIndexPath" serializeAs="String">
        <value>C:\temp\IndexCIC1DEV\Autocomplete</value>
      </setting>
      <setting name="IndexUpdateInterval" serializeAs="String">
        <value>30000</value>
      </setting>
      <setting name="AutocompleteUpdateInterval" serializeAs="String">
        <value>300000</value>
      </setting>
    </CIC.ASS.Common.ASS>
  </applicationSettings>
  <system.web>
    <compilation debug="true"/>
  </system.web>
  

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup><system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WorkflowEngineSoapBinding1" />
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IluceneConfigService">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8732/luceneConfigService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IluceneConfigService"
        contract="luceneConfigServiceReference.IluceneConfigService"
        name="WSHttpBinding_IluceneConfigService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8080/workflow/services/WorkflowEngine2"
        binding="basicHttpBinding" bindingConfiguration="WorkflowEngineSoapBinding1"
        contract="GateGuardean.WorkflowEnginePortType" name="WorkflowEnginePort1" />
    </client>
  </system.serviceModel>
</configuration>
