<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Cic.OpenOne.GateBANKNOW.Common.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Cic.OpenOne.Common.Properties.Config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

    <system.serviceModel>
      
      
        <bindings>
            <basicHttpBinding>
                <binding name="ForecastBindingRPC" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="ForecastBindingDoc" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="S1PublicServicePortBinding" />
                <binding name="ValuationBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="DVSOAPServiceSoapBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="Transport">
                        <transport clientCredentialType="Certificate" realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="DVSOAPServiceV4SoapBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="Transport">
                        <transport clientCredentialType="Certificate" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="ZEKTransactionServiceSoapBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="Transport">
                        <transport clientCredentialType="Certificate" />
                    </security>
                </binding>
                <binding name="ServiceSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="IBANKernelBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="ZekBatchServiceSoapBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_ICicService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="vinsearchBinding" />
                <binding name="PSFoodasWSSoap" />
                <binding name="WSLoginSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="WSLoginSoap1" />
                <binding name="SchufaSiml2AuskunfteiWorkflowSoapBinding" />
                <binding name="Wkf_Control_InterfaceSoapBinding" />
                <binding name="vinsearchBinding1" />
                <binding name="Wkf_Status_UpdateSoapBinding" />
                <binding name="ColCaseMgmtSOAP" />
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IBANKernel" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
                    <security mode="Transport">
                        <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
                        <message clientCredentialType="Windows" negotiateServiceCredential="true" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_IB2BOL" />
            </wsHttpBinding>
        </bindings>
      <behaviors>
          <endpointBehaviors>
            <behavior name="myCertEndpointBehavior">
              <clientCredentials>
                <clientCertificate findValue="SSLAuth" storeLocation="CurrentUser" x509FindType="FindBySubjectName" />
              </clientCredentials>
            </behavior>



          </endpointBehaviors>
          </behaviors>
        <client>
            <endpoint address="http://webservices.eurotaxglass.com/webservices/forecast.wsa" binding="basicHttpBinding" bindingConfiguration="ForecastBindingRPC" contract="DAO.Auskunft.EurotaxRef.ForecastPortRPC" name="ForecastPortRPC" />
            <endpoint address="http://webservices.eurotaxglass.com/webservices/forecast.wsa" binding="basicHttpBinding" bindingConfiguration="ForecastBindingDoc" contract="DAO.Auskunft.EurotaxRef.ForecastPortDocument" name="ForecastPortDoc" />
            <endpoint address="http://webservices.eurotaxglass.com/webservices/Valuation.wsa" binding="basicHttpBinding" bindingConfiguration="ValuationBinding" contract="DAO.Auskunft.EurotaxValuationRef.ValuationSoapPort" name="ValuationService" />
            <endpoint address="http://intranet.go-for-it.ch/KREMOWebService/Service.asmx" binding="basicHttpBinding" bindingConfiguration="ServiceSoap" contract="DAO.Auskunft.KREMORef.ServiceSoap" name="ServiceSoap" />
            <endpoint address="https://dotnet3.cic-software.de/IBANKernel/IBANKernel.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IBANKernel" contract="IBANService.IBANKernel" name="WSHttpBinding_IBANKernel">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="https://preprodservices.deltavista.com/dvzek/anonymous/services/ZEKTransactionService" binding="basicHttpBinding" bindingConfiguration="ZEKTransactionServiceSoapBinding" contract="DAO.Auskunft.ZEKRef.ZEKService" name="ZEKTransactionService" />
            <endpoint address="http://dvss.xml.prechku.sys:17180/dvss/services/DVSOAPServiceV4" binding="basicHttpBinding" bindingConfiguration="DVSOAPServiceV4SoapBinding" contract="DAO.Auskunft.DeltavistaRef.DVSoapServiceV4" name="DVSOAPServiceV4" />
            <endpoint address="http://dvss.xml.prechku.sys:17180/dvss/services/DVSOAPService" binding="basicHttpBinding" bindingConfiguration="DVSOAPServiceSoapBinding" contract="DAO.Auskunft.DeltavistaRef2.DVSoapService" name="DVSOAPService" />
            <endpoint address="http://zekbatchservice.xml.prechku.sys:15097/dvzekbatch/services/ZekBatchService" binding="basicHttpBinding" bindingConfiguration="ZekBatchServiceSoapBinding" contract="DAO.Auskunft.ZEKBatchRef.ZEKBatchService" name="ZekBatchService" />
            <endpoint address="http://localhost:8000/SimpleService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICicService" contract="DAO.Auskunft.RISKEWBS1Ref.ICicService" name="BasicHttpBinding_ICicService" />
            <endpoint address="http://vinsearch.eurotaxglass.com/vin-intl/" binding="basicHttpBinding" bindingConfiguration="vinsearchBinding" contract="DAO.Auskunft.EurotaxVinRef.vinsearchSoapPort" name="vinsearch" />
            <endpoint address="http://bnow-de:8090/strategyone/ws/S1Public" binding="basicHttpBinding" bindingConfiguration="S1PublicServicePortBinding" contract="DAO.Auskunft.DecisionEngineRef.S1Public" name="S1PublicServicePort" />
            <endpoint address="http://se-dnexec/B2BOL/B2BOL.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IB2BOL" contract="ch.bn.iamws.IB2BOL" name="WSHttpBinding_IB2BOL">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost/PSTeam.PSFoodas.WS/PSTeam.PSFoodas.WS.asmx" binding="basicHttpBinding" bindingConfiguration="PSFoodasWSSoap" contract="FoodasServiceReference.PSFoodasWSSoap" name="PSFoodasWSSoap" />
            <endpoint address="https://ws001.ps-team.de/psteam.psbase.pscommonws/wslogin.asmx" binding="basicHttpBinding" bindingConfiguration="WSLoginSoap" contract="FoodasLoginServiceReference.WSLoginSoap" name="WSLoginSoap" />
            <endpoint address="http://localhost:8080/SchufaSiml2AuskunfteiWorkflow/services/SchufaSiml2AuskunfteiWorkflow" binding="basicHttpBinding" bindingConfiguration="SchufaSiml2AuskunfteiWorkflowSoapBinding" contract="SchufaSiml2AuskunfteiWorkflow.SchufaSiml2AuskunfteiWorkflowPortType" name="SchufaSiml2AuskunfteiWorkflowPort" />
            <endpoint address="http://localhost:8080/Wkf_Control_Interface/services/Wkf_Control_Interface" binding="basicHttpBinding" bindingConfiguration="Wkf_Control_InterfaceSoapBinding" contract="GuardeanServiceReference.Wkf_Control_InterfacePortType" name="Wkf_Control_InterfacePort" />
            <endpoint address="http://vinsearch-ws.eurotaxglass.com/" binding="basicHttpBinding" bindingConfiguration="vinsearchBinding1" contract="DAO.Auskunft.VinSearch.vinsearchSoapPort" name="vinsearch1" />
            <endpoint address="http://localhost:8080/Wkf_Status_Update/services/Wkf_Status_Update" binding="basicHttpBinding" bindingConfiguration="Wkf_Status_UpdateSoapBinding" contract="GuardeanStatusUpdateServiceReference.Wkf_Status_UpdatePortType" name="Wkf_Status_UpdatePort" />
        </client>
    </system.serviceModel>


  <applicationSettings>
    <Cic.OpenOne.GateBANKNOW.Common.Settings>
      <setting name="NotificationGatewaySmtpServer" serializeAs="String">
        <value>80.146.230.3</value>
      </setting>
      <setting name="NotificationGatewaySmtpPort" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="NotificationGatewaySmtpFaxConnector" serializeAs="String">
        <value>cicsettingcommon.eu</value>
      </setting>
      <setting name="NotificationGatewaySmtpSmsConnector" serializeAs="String">
        <value>cicsettingcommon.eu</value>
      </setting>
      <setting name="CacheLifetime" serializeAs="String">
        <value>3600000</value>
      </setting>
      <setting name="SQLRetryCount" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ContextOverride" serializeAs="String">
        <value>false</value>
      </setting>
      <setting name="NotificationGatewaySMSEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="NotificationGatewaySMSURL" serializeAs="String">
        <value>https://messagingproxy.swisscom.ch:4300/rest/1.0.0/</value>
      </setting>
      <setting name="NotificationGatewaySMSAccountId" serializeAs="String">
        <value>50522</value>
      </setting>
      <setting name="NotificationGatewaySMSAccountName" serializeAs="String">
        <value>50522</value>
      </setting>
      <setting name="NotificationGatewaySMSAccountPassword" serializeAs="String">
        <value>aNS8pQz5</value>
      </setting>
      <setting name="NotificationGatewaySmtpSendAsEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="NotificationGatewaySmtpServiceAccount" serializeAs="String">
        <value>TestUser</value>
      </setting>
      <setting name="NotificationGatewaySmtpServiceAccountPassword" serializeAs="String">
        <value>TestPW</value>
      </setting>
      <setting name="NotificationGatewaySmtpServiceAccountPlainPassword" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="NotificationGatewaySMSProxyUrl" serializeAs="String">
        <value />
      </setting>
    </Cic.OpenOne.GateBANKNOW.Common.Settings>
    <Cic.OpenOne.Common.Properties.Config>
      <setting name="SoapLoggingEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OpenLeaseConnectionStringDataSource" serializeAs="String">
        <value>BNOWDEV</value>
      </setting>
      <!--Optionale Parameter für DirectConnect-->
      <!--setting name="OpenLeaseConnectionStringDirect" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OpenLeaseConnectionStringServerName" serializeAs="String">
        <value>CICDBS14</value>
      </setting>
      <setting name="OpenLeaseConnectionStringSID" serializeAs="String">
        <value>bnowfodev</value>
      </setting>
      <setting name="OpenLeaseConnectionStringServerPort" serializeAs="String">
        <value>1521</value>
      </setting>
      <setting name="OpenLeaseConnectionStringUserId" serializeAs="String">
        <value>cic</value>
      </setting>
      <setting name="OpenLeaseConnectionStringPassword" serializeAs="String">
        <value>SKYE</value>
      </setting>
      <setting name="OpenLeaseConnectionStringPlainPassword" serializeAs="String">
        <value>False</value>
      </setting-->
    </Cic.OpenOne.Common.Properties.Config>
  </applicationSettings>
  <!--system.data>
    <DbProviderFactories>
      <remove invariant="Devart.Data.Oracle"/>
      <add name="dotConnect for Oracle" invariant="Devart.Data.Oracle"
             description="Devart dotConnect for Oracle" type="Devart.Data.Oracle.OracleProviderFactory, Devart.Data.Oracle" />
    </DbProviderFactories>
  </system.data-->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="CrifEntities" connectionString="metadata=res://*/BO.Auskunft.CRIF.CrifModel.csdl|res://*/BO.Auskunft.CRIF.CrifModel.ssdl|res://*/BO.Auskunft.CRIF.CrifModel.msl;provider=Devart.Data.Oracle;provider connection string=&quot;User Id=CIC;Password=71F10AAF981E449B;Server=OLSE02;Direct=False;Persist Security Info=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>