<?xml version="1.0" encoding="utf-8" ?>

<!--Attention !-->

<!--This file contains administration settings.
It should only be modified by trained administrative staff.-->

<configuration>
  <appSettings>
    <!--Logging over log4net: 1 = activates logging, else = deactivates logging-->
    <!--When undefined or error, default: 1-->
    <add
      key="Log4NetLoggingEnabled"
      value="1"
    />
  </appSettings>
</configuration>