<?xml version="1.0"?>
<!--Attention !-->
<!--This file contains important settings for the application.
It should never be modified.-->
<!--
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Cic.OpenOne.Common.Properties.Config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <applicationSettings>
    <Cic.OpenOne.Common.Properties.Config>
      <setting name="SoapLoggingEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <!-- This entry defines if the connection schould be made without Oracle client [true/false] -->
      <setting name="OpenLeaseConnectionStringDirect" serializeAs="String">
        <value>True</value>
      </setting>
      <!-- This entry defines the OpenLease server name (for connection without Oracle client) -->
      <setting name="OpenLeaseConnectionStringServerName" serializeAs="String">
        <value>CICDBS32</value>
      </setting>
      <!-- This entry defines the OpenLease server port (for connection without Oracle client) -->
      <setting name="OpenLeaseConnectionStringServerPort" serializeAs="String">
        <value>1521</value>
      </setting>
      <setting name="OpenLeaseConnectionStringUserId" serializeAs="String">
        <value>cic</value>
      </setting>
      <setting name="OpenLeaseConnectionStringPassword" serializeAs="String">
        <value>SKYE</value>
      </setting>
      <setting name="OpenLeaseConnectionStringPlainPassword" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DatasourceProviderName" serializeAs="String">
        <value>Devart.Data.Oracle</value>
      </setting>
      <!--BMWDEV|BMWNETVISION.CIC This entry defines the OpenLease data source (server)
        <setting name="OpenLeaseConnectionStringDataSource" serializeAs="String">
          <value>BMWDEV.CIC</value>
        </setting>-->
      <!-- bmw|bmwnetvision This entry defines the OpenLease SID (for connection without Oracle client) -->
      <setting name="OpenLeaseConnectionStringSID" serializeAs="String">
        <value>HCEDEV</value>
      </setting>
      <!--This entry defines the old OpenLease login style [true/false]-->
      <setting name="OpenLeaseOldCicPassword" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DBConnectionTimeout" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="DBValidateConnection" serializeAs="String">
        <value>false</value>
      </setting>
      <setting name="DBMinPoolSize" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="DBMaxPoolSize" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="DBStatementCacheSize" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="CacheLifetime" serializeAs="String">
        <value>86400000</value>
      </setting>
    </Cic.OpenOne.Common.Properties.Config>
  </applicationSettings>
  <connectionStrings/>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <!--
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.6.1"/>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <membership defaultProvider="OpenLeaseMembershipProvider">
      <providers>
        <clear/>
        <add name="OpenLeaseMembershipProvider" type="Cic.OpenLease.Common.MembershipProvider"/>
      </providers>
    </membership>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!--
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.serviceModel>
    <client>
      <endpoint address="https://hcedev.cic.muc/BAS/MediatorService.svc" binding="wsHttpBinding" bindingConfiguration="myWsHttpsBinding" contract="MediatorService.IMediatorService" name="WSHttpBinding_IMediatorService"/>
      <endpoint address="http://vinsearch-ws.eurotaxglass.com" binding="basicHttpBinding" bindingConfiguration="vinsearchBinding" contract="VinSearch.vinsearchSoapPort" name="vinsearch"/>
      <endpoint address="http://webservices.eurotaxglass.com/webservices/forecast.wsa" binding="basicHttpBinding" bindingConfiguration="ForecastBindingDoc" contract="DAO.Auskunft.EurotaxRef.ForecastPortDocument" name="ForecastPortDoc"/>
    </client>
    <bindings>
      <basicHttpBinding>
        <binding name="vinsearchBinding" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="64" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
        </binding>
        <binding name="ForecastBindingDoc" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="1024000" maxReceivedMessageSize="1024000" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="1024000" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="myWsHttpsBinding" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="73400320" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <security mode="Transport">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
        <binding name="myWsHttpBinding" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="73400320" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <security mode="None"/>
        </binding>
      </wsHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="Cic.OpenLease.Service.ServiceBehavior" name="Cic.OpenLease.Service.Services.Merge.OpenLease.CarConfigurator">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="myWsHttpBinding" contract="Cic.OpenOne.CarConfigurator.BO.ConfigurationManager.ICarConfigurator" bindingNamespace="http://cic-software.de/Cic.OpenOne.ServiceAccess.Merge">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="Cic.OpenLease.Service.ServiceBehavior" name="Cic.OpenLease.Service.Merge.assistantService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="myWsHttpBinding" contract="Cic.OpenLease.ServiceAccess.Merge.Contract.IassistantService" bindingNamespace="http://cic-software.de/Cic.OpenOne.ServiceAccess.Merge">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="Cic.OpenLease.Service.ServiceBehavior" name="Cic.OpenLease.Service.Merge.ServicesState.ServicesStateService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="myWsHttpBinding" contract="Cic.OpenLease.ServiceAccess.Merge.ServicesState.IServicesStateService" bindingNamespace="http://cic-software.de/Cic.OpenLease.ServiceAccess.Merge">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="Cic.OpenLease.Service.ServiceBehavior" name="Cic.OpenLease.Service.Merge.MembershipProvider.MembershipProviderService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="myWsHttpBinding" contract="Cic.OpenLease.ServiceAccess.Merge.MembershipProvider.IMembershipProviderService" bindingNamespace="http://cic-software.de/Cic.OpenLease.ServiceAccess.Merge">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="Cic.OpenLease.Service.ServiceBehavior" name="Cic.OpenLease.Service.Merge.Dictionary.DictionaryService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="myWsHttpBinding" contract="Cic.OpenLease.ServiceAccess.Merge.Dictionary.IDictionaryService" bindingNamespace="http://cic-software.de/Cic.OpenLease.ServiceAccess.Merge">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="Cic.OpenLease.Service.ServiceBehavior" name="Cic.OpenLease.Service.Services.Merge.OpenLease.OlClientService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="myWsHttpBinding" contract="Cic.OpenLease.ServiceAccess.Merge.OlClient.IOlClientService" bindingNamespace="http://cic-software.de/Cic.OpenLease.ServiceAccess.Merge">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="Cic.OpenLease.Service.ServiceBehavior" name="Cic.OpenLease.Service.Merge.CalculationCore.CalculationCoreService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="myWsHttpBinding" contract="Cic.OpenLease.ServiceAccess.Merge.CalculationCore.ICalculationCore" bindingNamespace="http://cic-software.de/Cic.OpenLease.ServiceAccess.Merge">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="Cic.OpenLease.Service.ServiceBehavior" name="Cic.OpenLease.Service.Merge.Prisma.PrismaService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="myWsHttpBinding" contract="Cic.OpenLease.ServiceAccess.Merge.Prisma.IPrismaService" bindingNamespace="http://cic-software.de/Cic.OpenLease.ServiceAccess.Merge">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="Cic.OpenLease.Service.ServiceBehavior" name="Cic.OpenLease.Service.DdOl.ANGEBOTDao">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="myWsHttpBinding" contract="Cic.OpenLease.ServiceAccess.DdOl.IANGEBOTDao" bindingNamespace="http://cic-software.de/Cic.OpenLease.ServiceAccess.DdOl">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="Cic.OpenLease.Service.ServiceBehavior" name="Cic.OpenLease.Service.DdOl.ANTRAGDao">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="myWsHttpBinding" contract="Cic.OpenLease.ServiceAccess.DdOl.IANTRAGDao" bindingNamespace="http://cic-software.de/Cic.OpenLease.ServiceAccess.DdOl">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="Cic.OpenLease.Service.ServiceBehavior" name="Cic.OpenLease.Service.DdOl.ITDao">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="myWsHttpBinding" contract="Cic.OpenLease.ServiceAccess.DdOl.IITDao" bindingNamespace="http://cic-software.de/Cic.OpenLease.ServiceAccess.DdOl">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="Cic.OpenLease.Service.ServiceBehavior" name="Cic.OpenLease.Service.DdOl.VTDao">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="myWsHttpBinding" contract="Cic.OpenLease.ServiceAccess.DdOl.IVTDao" bindingNamespace="http://cic-software.de/Cic.OpenLease.ServiceAccess.DdOl">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="Cic.OpenLease.Service.ServiceBehavior" name="Cic.OpenLease.Service.Services.DdOl.HtmlReportService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="myWsHttpBinding" contract="Cic.OpenLease.Service.Services.DdOl.Contract.IHtmlReportService" bindingNamespace="http://cic-software.de/Cic.OpenLease.Service.DdOl">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <!--Message tracing-->
    <!--<diagnostics>
    <messageLogging
     logEntireMessage="true"
     logMalformedMessages="false"
     logMessagesAtServiceLevel="true"
     logMessagesAtTransportLevel="false"
     maxMessagesToLog="3000"
     maxSizeOfMessageToLog="2000"/>
    </diagnostics>-->
    <!-- Extensions -->
    <!--<extensions>
      <behaviorExtensions>
        -->
    <!-- WSDL Extras (XML Comments in WSDL or single WSDL file)-->
    <!--
        <add name="wsdlExtensions" type="WCFExtras.Wsdl.WsdlExtensionsConfig, WCFExtras, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      </behaviorExtensions>
    </extensions>-->
    <behaviors>
      <serviceBehaviors>
        <behavior name="Cic.OpenLease.Service.ServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceThrottling maxConcurrentCalls="75" maxConcurrentInstances="105" maxConcurrentSessions="30"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
        <behavior name="Cic.OpenLease.Service.Services.Merge.ServiceStateBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceThrottling maxConcurrentCalls="75" maxConcurrentInstances="105" maxConcurrentSessions="30"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
        <behavior name="Cic.OpenLease.Service.Services.Merge.OlClientServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceThrottling maxConcurrentCalls="75" maxConcurrentInstances="105" maxConcurrentSessions="30"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <!--Tracing-->
  <!--<system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Verbose"
        propagateActivity="true">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelTraceListener">
            <filter type="" />
          </add>
          <add name="messages"
                          type="System.Diagnostics.XmlWriterTraceListener"
                          initializeData="messages.svclog" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="app_tracelog.svclog"
        type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, 
        Culture=neutral, PublicKeyToken=b77a5c561934e089"
          name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
    </sharedListeners>
  </system.diagnostics>-->
  <!-- dotConnect Dataprovider -->
  <system.data>
    <DbProviderFactories>
      <remove invariant="Devart.Data.Oracle"/>
      <add name="dotConnect for Oracle" invariant="Devart.Data.Oracle" description="Devart dotConnect for Oracle" type="Devart.Data.Oracle.OracleProviderFactory, Devart.Data.Oracle"/>
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <providers>
      <provider invariantName="Devart.Data.Oracle" type="Devart.Data.Oracle.Entity.OracleEntityProviderServices, Devart.Data.Oracle.Entity.EF6"/>
    </providers>
  </entityFramework>
</configuration>