<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.serviceModel>
		<bindings>
			<customBinding>
				<binding name="CustomBinding_IMediatorService">
					<binaryMessageEncoding/>
					<httpTransport/>
				</binding>
			</customBinding>
		</bindings>
		<client>
			<endpoint address="http://hv-mak-win81-01.cic.muc:53567/MediatorService.svc" binding="customBinding" bindingConfiguration="CustomBinding_IMediatorService" contract="IMediatorService" name="CustomBinding_IMediatorService"/>
		</client>
	</system.serviceModel>
	<startup/></configuration>
