<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="Cic.OpenOne.Common.Properties.Config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
			<section name="Cic.OpenOne.GateBANKNOW.Common.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<system.serviceModel>


		<bindings>
			<basicHttpBinding>
				<!--Eurotax-->
				<binding proxyAddress="http://intranet-proxy.ch.hedani.net:8080"  name="ForecastBindingRPC" closeTimeout="00:01:00" openTimeout="00:01:00"
            receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
            bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="1024000" maxBufferPoolSize="524288" maxReceivedMessageSize="1024000"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="false">
					<readerQuotas maxDepth="32" maxStringContentLength="1024000" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<!--Eurotax-->
				<binding proxyAddress="http://intranet-proxy.ch.hedani.net:8080"  name="ForecastBindingDoc" closeTimeout="00:01:00" openTimeout="00:01:00"
            receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
            bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="1024000" maxBufferPoolSize="524288" maxReceivedMessageSize="1024000"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="false">
					<readerQuotas maxDepth="32" maxStringContentLength="1024000" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<!--DecisionEngine-->
				<binding name="S1PublicServicePortBinding" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="1024000" maxBufferPoolSize="524288" maxReceivedMessageSize="1024000"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="1024000" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="Transport">
						<transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
					</security>
				</binding>
				<!--Eurotax-->
				<binding  proxyAddress="http://intranet-proxy.ch.hedani.net:8080"  name="ValuationBinding" closeTimeout="00:01:00" openTimeout="00:01:00"
            receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
            bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="1024000" maxBufferPoolSize="524288" maxReceivedMessageSize="1024000"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="false">
					<readerQuotas maxDepth="32" maxStringContentLength="1024000" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<!--Deltavista-->
				<binding  proxyAddress="http://intranet-proxy.ch.hedani.net:8080"  name="DVSOAPServiceSoapBinding" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="1024000" maxBufferPoolSize="524288" maxReceivedMessageSize="1024000"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="false">
					<readerQuotas maxDepth="32" maxStringContentLength="1024000" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="Transport">
						<transport clientCredentialType="Certificate" proxyCredentialType="None" realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<!--Deltavista-->
				<binding proxyAddress="http://intranet-proxy.ch.hedani.net:8080"  name="DVSOAPServiceV4SoapBinding" closeTimeout="00:01:00"
             openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
             allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
             maxBufferSize="1024000" maxBufferPoolSize="524288" maxReceivedMessageSize="1024000"
             messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
             useDefaultWebProxy="false">
					<readerQuotas maxDepth="32" maxStringContentLength="1024000" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="Transport">
						<transport clientCredentialType="Certificate" proxyCredentialType="None" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<!--ZEK-->
				<binding proxyAddress="http://intranet-proxy.ch.hedani.net:8080"  name="ZEKTransactionServiceSoapBinding" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="1024000" maxBufferPoolSize="524288" maxReceivedMessageSize="1024000"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="false">
					<readerQuotas maxDepth="32" maxStringContentLength="1024000" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="Transport">
						<transport clientCredentialType="Certificate"  proxyCredentialType="None"/>
					</security>
				</binding>
				<!--Kremo-->
				<binding name="ServiceSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
            receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
            bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="1024000" maxBufferPoolSize="524288" maxReceivedMessageSize="1024000"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="1024000" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="Transport">
						<transport clientCredentialType="None" />
					</security>
				</binding>
			</basicHttpBinding>
		</bindings>
		<behaviors>
			<endpointBehaviors>
				<behavior name="ZEKCertEndpointBehavior">
					<clientCredentials>
						<clientCertificate findValue="SSLAuth" storeLocation="LocalMachine" x509FindType="FindBySubjectName" />
					</clientCredentials>
				</behavior>
				<behavior name="CSCertEndpointBehavior">
					<clientCredentials>
						<clientCertificate findValue="chsa7673.eur.beluni.net" storeLocation="CurrentUser" x509FindType="FindBySubjectName" />
					</clientCredentials>
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<client>
			<!--Eurotax-->
			<endpoint address="http://webservices.eurotaxglass.com/webservices/forecast.wsa"
          binding="basicHttpBinding" bindingConfiguration="ForecastBindingRPC"
          contract="DAO.Auskunft.EurotaxRef.ForecastPortRPC" name="ForecastPortRPC" />
			<!--Eurotax-->
			<endpoint address="http://webservices.eurotaxglass.com/webservices/forecast.wsa"
          binding="basicHttpBinding" bindingConfiguration="ForecastBindingDoc"
         contract="DAO.Auskunft.EurotaxRef.ForecastPortDocument" name="ForecastPortDoc" />
			<!--DecisionEngine-->
			<endpoint address="https://bnw11t.bn.ch:8443/strategyone/S1Public"
          binding="basicHttpBinding" bindingConfiguration="S1PublicServicePortBinding"
          contract="DAO.Auskunft.DecisionEngineRef.S1Public" name="S1PublicServicePort" />        
			<!--Eurotax-->
			<endpoint address="http://webservices.eurotaxglass.com/webservices/Valuation.wsa"
          binding="basicHttpBinding" bindingConfiguration="ValuationBinding"
          contract="DAO.Auskunft.EurotaxValuationRef.ValuationSoapPort"
          name="ValuationService" />
			<!--Deltavista-->
			<endpoint address="https://preprodservices.crif-online.ch/dvss/DVSOAPServiceV4"
           behaviorConfiguration="ZEKCertEndpointBehavior" binding="basicHttpBinding"
          bindingConfiguration="DVSOAPServiceV4SoapBinding" contract="DAO.Auskunft.DeltavistaRef.DVSoapServiceV4"
          name="DVSOAPServiceV4" />
			<!--KREMO-->
			<endpoint address="https://bnw12t.bn.ch/KREMO/KREMOWebservice/Service.asmx"
          binding="basicHttpBinding" bindingConfiguration="ServiceSoap"
          contract="DAO.Auskunft.KREMORef.ServiceSoap" name="ServiceSoap" />
			<!--ZEK-->
			<endpoint address="https://preprodservices.crif-online.ch/ZEKsoap/ZEKTransactionServiceAnonymousV3"
          behaviorConfiguration="ZEKCertEndpointBehavior" binding="basicHttpBinding"
          bindingConfiguration="ZEKTransactionServiceSoapBinding" contract="DAO.Auskunft.ZEKRef.ZEKService"
          name="ZEKTransactionService" />
			<!--Deltavista-->
			<endpoint address="https://preprodservices.crif-online.ch/dvss/DVSOAPService"
          binding="basicHttpBinding" bindingConfiguration="DVSOAPServiceSoapBinding"
                behaviorConfiguration="ZEKCertEndpointBehavior"
          contract="DAO.Auskunft.DeltavistaRef2.DVSoapService" name="DVSOAPService" />
		</client>
	</system.serviceModel>

	<applicationSettings>
		<Cic.OpenOne.Common.Properties.Config>

			<setting name="OpenLeaseConnectionStringDirect" serializeAs="String">
				<value>True</value> 
			</setting>
			<setting name="OpenLeaseConnectionStringServerName" serializeAs="String">
				<value>tcic2.bn.ch</value>
			</setting>
			<setting name="OpenLeaseConnectionStringServerPort" serializeAs="String">
				<value>1545</value>
			</setting>
			<setting name="OpenLeaseConnectionStringSID" serializeAs="String">
				<value>TCICOL2</value>        
			</setting>		
			<setting name="OpenLeaseConnectionStringUserId" serializeAs="String">
				<value>cic</value>
			</setting>
			<setting name="OpenLeaseConnectionStringPassword" serializeAs="String">
				<value>SKYE</value>
			</setting>
			<setting name="OpenLeaseConnectionStringPlainPassword" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="DatasourceProviderName" serializeAs="String">
				<value>Devart.Data.Oracle</value>
			</setting>
			<setting name="DBConnectionTimeout" serializeAs="String">
				<value>30</value>
			</setting>
			<setting name="DBValidateConnection" serializeAs="String">
				<value>false</value>
			</setting>
			<setting name="DBMinPoolSize" serializeAs="String">
				<value>10</value>
			</setting>
			<setting name="DBMaxPoolSize" serializeAs="String">
				<value>100</value>
			</setting>
			<setting name="DBStatementCacheSize" serializeAs="String">
				<value>5</value>
			</setting>
			<setting name="PreSharedKeyType" serializeAs="String">
				<value>MA</value>
			</setting>
			<setting name="PreSharedKeyPath" serializeAs="String">
				<value>INTEROP/LOGINKONTEXT/PSK</value>
			</setting>
			<setting name="SoapLoggingEnabled" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="SoapLoggingEnabledAuskunft" serializeAs="String">
				<value>True</value>
			</setting> 

		</Cic.OpenOne.Common.Properties.Config>
		<Cic.OpenOne.GateBANKNOW.Common.Settings>
			<setting name="NotificationGatewaySmtpServer" serializeAs="String">
				<value>smtp-v1r4p2.csintra.net</value>
			</setting>
			<setting name="NotificationGatewaySmtpFaxConnector" serializeAs="String">
				<value>fax.bank-now.ch</value>
			</setting>
			<setting name="NotificationGatewaySmtpSmsConnector" serializeAs="String">
				<value>sms.credit-suisse.ch</value>
			</setting>
		</Cic.OpenOne.GateBANKNOW.Common.Settings>
	</applicationSettings>

	<system.data>
		<DbProviderFactories>
			<remove invariant="Devart.Data.Oracle"/>
			<add name="dotConnect for Oracle" invariant="Devart.Data.Oracle" description="Devart dotConnect for Oracle" type="Devart.Data.Oracle.OracleProviderFactory, Devart.Data.Oracle"/>
		</DbProviderFactories>
	</system.data>
</configuration>
