<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="BatchModulePath" value="G:\StrategyOne\js1.bat" />
    <add key="InputFolder" value="G:\SimpleService\IO" />
    <add key="OutputFolder" value="G:\SimpleService\IO" />
    <add key="LogFolder" value="G:\logs\SimpleService" />
    <add key="LogDetail" value="false" />
    <add key="DeleteXmlFiles" value="true" />
    <!-- MaxParallelS1Calls - max number of concurrent batch processes (0 = unlimited) -->
    <add key="MaxParallelS1Calls" value="10" />
    <add key="MaxLogSizeMB" value="100" />
    <!-- MaxReqestItems - max number of records per one batch request file -->
    <add key="MaxReqestItems" value="10000" />
    <!-- RequestTimeout - time in seconds to wait for batch processing to complete -->
    <add key="ReqestTimeout" value="14400" />
    <add key="BosISOLanguageCode" value="de-CH" />
    <add key="BosPassword" value="05A45C4F91D81B3A4E5D603669AD19B4" />
    <add key="BosSysBRAND" value="0" />
    <add key="BosSysPEROLE" value="1" />
    <add key="BosUserName" value="BANKNOW" />
    <add key="BosUserType" value="1" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="StreamBinding" maxBufferSize="65000" closeTimeout="01:30:00" openTimeout="01:30:00" receiveTimeout="01:30:00" sendTimeout="01:30:00" maxReceivedMessageSize="2147483647" transferMode="StreamedRequest">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="16864" maxNameTableCharCount="2147483647" />
        </binding>
        <binding name="StreamBindingSSL" maxBufferSize="65000" closeTimeout="01:30:00" openTimeout="01:30:00" receiveTimeout="01:30:00" sendTimeout="01:30:00" maxReceivedMessageSize="2147483647" transferMode="StreamedRequest">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="16864" maxNameTableCharCount="2147483647" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <!-- Für SSL hier auf StreamBindingSSL umstellen -->
      <!-- WICHTIG: Hier den Pfad zum EAI-Stream-Service eintrage und ggf im Browser testen, für SSL mit https vorne -->
      <endpoint address="https://CHW20014853.ch.ad.hedani.net/Ofiswebservices/StreamService.svc" binding="basicHttpBinding" bindingConfiguration="StreamBindingSSL" contract="StreamService.IStreamService" name="StreamService" />
    </client>
    <services>
      <service name="SimpleService.CicService" behaviorConfiguration="StreamBehavior">
        <!-- Für SSL hier auf StreamBindingSSL umstellen, auf mexHttpsBinding umstellen, baseAddress mit Servernamen+https umstellen -->
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="StreamBindingSSL" contract="SimpleService.ICicService">
         <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <!-- Diese Adresse kann im Browser probiert werden -->
            <add baseAddress="https://localhost:8000/SimpleService" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="StreamBehavior">
          <!-- Für SSL hier httpsGetEnabled auf true, und httpGetEnabled auf false -->
          <serviceMetadata httpGetEnabled="False" httpsGetEnabled="True" />
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <serviceHostingEnvironment aspNetCompatibilityEnabled="false"/>
  </system.serviceModel>
  <system.web>
    <httpRuntime maxRequestLength="2147483647" useFullyQualifiedRedirectUrl="true" executionTimeout="14400"/>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>


