<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=1b44e1d426115821"/>
  </configSections>
<appSettings />

  <!-- log4net configuration -->
  <log4net>

    <!-- Console Appender -->
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{dd.MM.yyyy HH:mm:ss}  %level - %logger - %message%newline"/>
      </layout>
      <!-- Level: DEBUG < INFO < WARN < ERROR -->
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG"/>
        <levelMax value="ERROR"/>
      </filter>
    </appender>

    <!-- EventLog Appender -->
    <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
      <applicationName value="Job Server 2.0 Service"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{dd.MM.yyyy HH:mm:ss} %level - %message%newline"/>
      </layout>
      <!-- Level: INFO < WARN < ERROR -->
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO"/>
        <levelMax value="ERROR"/>
      </filter>
    </appender>

    <appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="G:/logs/EAIJob/Log "/>
      <staticLogFileName value="false"/>
      <rollingStyle value="Date"/>
      <datePattern value="dd.MM.yyyy&quot;.txt&quot;"/>
      <appendToFile value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{dd.MM.yyyy HH:mm:ss}  %level - %logger - %message%newline"/>
      </layout>
    </appender>

    <appender name="DebugAppender" type="log4net.Appender.DebugAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{dd.MM.yyyy HH:mm:ss}  %level - %logger - %message%newline"/>
      </layout>
      <!-- Level: DEBUG < INFO < WARN < ERROR -->
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG"/>
        <levelMax value="ERROR"/>
      </filter>
    </appender>

    <root>
      <level value="ALL"/>
      <appender-ref ref="ConsoleAppender"/>
      <!--<appender-ref ref="EventLogAppender" />-->
      <appender-ref ref="FileAppender"/>
      <appender-ref ref="DebugAppender"/>
    </root>
  </log4net>

  <system.serviceModel>
    <client>
      <!-- endpoint address should be set in the cfg structure -->
      <endpoint address="" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IFibuService" contract="FibuServiceReference.IFibuService" name="WSHttpBinding_IFibuService">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>
      
    </client>

    <bindings>
      <wsHttpBinding>
        <binding name="unsecuredWsHttpinding">
          <security mode="None" />
        </binding>
         <binding name="WSHttpBinding_IFibuService" closeTimeout="00:05:00" openTimeout="00:05:00" receiveTimeout="00:05:00" sendTimeout="00:05:00" maxReceivedMessageSize="2147483647"  maxBufferPoolSize="2147483647">
          <readerQuotas maxDepth="73400320" maxArrayLength="2147483647" maxStringContentLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="EAIJobWcfServiceBehavior">
          <serviceMetadata httpGetEnabled="true" policyVersion="Policy15"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <dataContractSerializer ignoreExtensionDataObject="true" maxItemsInObjectGraph="1000000000"/>
          <serviceThrottling maxConcurrentCalls="1000" maxConcurrentSessions="1000" maxConcurrentInstances="1000"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="EAIJobWcfServiceBehavior" name="Cic.OpenOne.EAIJob.EaiJobWcfService">
        <endpoint address="http://127.0.0.1:9000/EAIJob2Service" binding="wsHttpBinding" bindingConfiguration="unsecuredWsHttpinding" contract="Cic.OpenOne.EAIJob.IEAIJobWcfService" listenUriMode="Explicit"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://127.0.0.1:9000/EAIJob2Service"/>
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>

  <system.data>
    <DbProviderFactories>
      <remove invariant="Devart.Data.Oracle"/>
      <add name="dotConnect for Oracle" invariant="Devart.Data.Oracle" description="Devart dotConnect for Oracle" type="Devart.Data.Oracle.OracleProviderFactory, Devart.Data.Oracle, Version=5.70.140.0, Culture=neutral, PublicKeyToken=09af7300eec23701"/>
    </DbProviderFactories>
  </system.data>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Devart.Data.Oracle" publicKeyToken="09AF7300EEC23701" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-6.70.293.0" newVersion="6.70.293.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
