<?xml version="1.0" encoding="utf-8" ?>

<!--Attention !-->

<!--This file is part of the application environment and it should 
only be modified by CIC staff.-->

<configuration>
	<!--Application settings-->
	<appSettings>
		<!--Test fixtures-->

		<!--If the value is "1" all test fixture methods can modify 
		datas of the database defined in 'AllowedServerNameForTestFixtures'.-->
		<!--Remove before deploying.-->
		<add
			key="AllowDatabaseAccessForTestFixtures"
			value="1"
		/>
		<!--The value defines the server name (see connection strings) of the database
		for the test fixture access.-->
		<!--Remove before deploying.-->
		<add
			key="AllowedServerNameForTestFixtures"
			value="DOTDEV"
		/>
		<!--value="PRAES2"-->

		<!-- Business rule provider adapter -->

		<!--Business rule provider adapter are assemblies which have an IBusinessProviderAdapter implemented.
		The adapter provides business rule for differnt object context accesses.
		You can specify one business rule provider adapter per each datadictionary.-->

		<!--DdDnas business rule provider adapter assembly file name-->
		<!--<add
			key="DdDnasBusinessRuleProviderAdapterAssemblyFileName"
			value=""
		/>-->
		<!--DdOl business rule provider adapter assembly file name-->
		<!--<add
			key="DdOlBusinessRuleProviderAdapterAssemblyFileName"
			value=""
		/>-->
		<!--DdOw business rule provider adapter assembly file name-->
		<!--<add
			key="DdOwBusinessRuleProviderAdapterAssemblyFileName"
			value=""
		/>-->
	</appSettings>

</configuration>