<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="6.2.2" targetFramework="net45" />
  <package id="CIC.Database.DE.EF6" version="4.481.228.392" targetFramework="net472" />
  <package id="CIC.Database.IC.EF6" version="4.479.226.388" targetFramework="net46" />
  <package id="CIC.Database.OL.EF6" version="4.479.226.388" targetFramework="net46" />
  <package id="CIC.Database.OW.EF6" version="4.479.226.388" targetFramework="net46" />
  <package id="CIC.Database.PRISMA.EF6" version="4.479.226.388" targetFramework="net46" />
  <package id="CIC.Monitoring" version="1.0.2" targetFramework="net46" />
  <package id="CIC.Unity.DatabaseConnection" version="2.9.8.838" targetFramework="net46" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net46" />
  <package id="log4net" version="2.0.8" targetFramework="net45" />
  <package id="log4net.Ext.Json" version="1.2.15.14586" targetFramework="net46" />
  <package id="Nancy" version="1.4.1" targetFramework="net46" />
  <package id="Nancy.Hosting.Self" version="1.4.1" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net46" />
</packages>